
<h1>Productos</h1>
  
<div>

  {{#each products}}
    <li><h4>Nombre: {{this.title}}</h4>
    <p>Descripción: {{this.description}}</p>
    <p>Precio: ${{this.price}}</p>
    <a href="/product/{{this.id}}">Ver detalles</a></li>
  {{/each}}

</div>



<!-- Páginas -->
<center>
  <p>Total de páginas: {{totalPages}}</p>
  {{#if hasPrevPage}}
   <a href="/api/products?page={{prevPage}}"><button>Anterior</button></a>
  {{/if}}
  {{#if hasNextPage}}
   <a href="/api/products?page={{nextPage}}"><button>Siguiente</button></a>
  {{/if}}
</center>
  



<script src="/static/js/socketProducts.js"></script>